@model ChatIndexViewModel
@{
    ViewData["Title"] = "Chats";
}
@section Heads{
    <link rel="stylesheet" href="~/css/Chat/chatList.css" asp-append-version="true" />
}
<div class="container">
    <div class="row">
        <div class="col-6 chatsContainer">
            <h2>Direct chats</h2>
            <div class="chatList">
                @foreach (var chat in Model.DirectChats)
                {
                    <a class="chat-item" asp-controller="chat" asp-action="direct" asp-route-id="@chat.ChatId">
                        <img src="@chat.User.ProfileImage" height="50" width="50" />
                        <span class ="chatName">@chat.User.FirstName @chat.User.LastName</span>
                            @if (chat.LastMessage != null)
                            {
                                <p>
                                    @if (chat.LastMessage.SenderId == Model.UserId)
                                    {
                                    <span class="text-muted">You: </span>    
                                    } 
                                    @chat.LastMessage.MessageContent
                                </p>
                            <p class="chat-lastDate">@chat.LastMessage.SendTime</p>
                        }
                        else
                        {
                            <p class="text-muted">No messages here yet</p>
                        }
                    </a>
                }
            </div>
        </div>
        <div class="col-6 chatsContainer">
            <h2>Group</h2>
            <div class="chatList">
                @foreach (var chat in Model.GroupChats)
                {
                    <a class="chat-item" asp-controller="chat" asp-action="group" asp-route-id="@chat.Key.Id">
                        <img src="@chat.Key.GroupPicture" height="50" width="50" />
                        <span class="chatName">@chat.Key.GroupName</span>
                        <p>
                            @if (chat.Value == null)
                            {
                                <span class="text-muted">No messages here yet</span>
                            }
                            else
                            {
                                if (string.IsNullOrEmpty(chat.Value.SenderName))
                                {
                                    <span class="text-muted">You: </span>
                                }
                                else
                                {
                                    <span class="text-muted">@chat.Value.SenderName: </span>
                                }
                                <span>@chat.Value.MessageContent</span>
                                <p class="chat-lastDate">@chat.Value.SendTime</p>
                            }
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
</div>