@model ViewModelWithPublicationList
<div class="postContainer">
    @foreach (Publication publication in Model.Publications)
    {
        <div class="post hiddenComments">
            <div class="post-content">
                <a class="post-account" asp-controller="posts" asp-action="user">
                    <img class="post-avatar" src="@publication.PostedBy.ProfileImage">
                    <strong class="post-fullname">
                        @publication.PostedBy.FullName
                    </strong>
                    <span class="post-timestamp">@publication.PostedTime</span>
                </a>
            </div>
            @if (!string.IsNullOrEmpty(publication.ImageLink))
            {
                <div class="optionalMedia">
                    <img src="@publication.ImageLink">
                </div>
            }
            else if (publication.HasManyImages)
            {
                <div class="optionalMedia gallery">
                    <div class="gallery-inner">
                        @for (int i = 1; i <= publication.Images.Count; i++)
                        {
                            <div class="img-container">
                                <span class="slide-counter">@i/@publication.Images.Count</span>
                                <img src="@publication.Images[i-1]">
                            </div>
                        }
                    </div>
                </div>
            }
            else if (!string.IsNullOrEmpty(publication.VideoLink))
            {
                <div class="optionalMedia">
                    <video controls>
                        <source src="@publication.VideoLink" type="video/mp4">
                        Could not load video
                    </video>
                </div>
            }
            else if (!string.IsNullOrEmpty(publication.EmbeddedVideoLink))
            {
                <div class="optionalMedia">
                    <iframe class="video-block" src="@publication.EmbeddedVideoLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            }
            <div class="post-text-container">
                @publication.PublicationText
            </div>
            <div class="post-action-list" style="line-height:24px;color: #b1bbc3;">
                <a asp-asp-controller="posts" asp-action="post" asp-route-id="@publication.Id">
                    <i class="fa-solid fa-share"></i>
                </a>

                <button class="closeChatButton NoLoader">
                    <i class="fa-solid fa-comment"></i>
                    @if (publication.PostComments.Count != 0)
                    {
                        <span class="text-muted">@publication.PostComments.Count</span>
                    }
                </button>
                <form asp-action="savepublication" asp-route-id="@publication.Id">
                    <button type="submit">
                        @if (publication.IsSavedByUser)
                        {
                            <i class="fa fa-bookmark text-mainColor"></i>
                        }
                        else
                        {
                            <i class="fa fa-bookmark"></i>
                        }
                    </button>
                </form>
            </div>
            <br />
            <div class="comments">
                @if (publication.PostComments != null)
                {
                    <h4>Comments:</h4>
                    <div class="commentInput">
                        <form asp-action="PostComment">
                            <input asp-for="CommentInput.PostId" type="hidden" value="@publication.Id">
                            <input asp-for="CommentInput.CommentContent" placeholder="Say something about this publication...">
                        </form>
                    </div>
                    foreach (Comment comment in publication.PostComments)
                    {
                        <div class="comment">
                            <a class="post-account" href="#">
                                <img src="@comment.Sender.ProfileImage">
                                <strong class="post-fullname">
                                    @comment.Sender.FullName
                                </strong>
                            </a>
                            <span class="post-timestamp">@comment.PostedTime</span>
                            <div class="post-text-container">
                                @comment.CommentContent
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>