@model PostDetailsViewModel
@section Heads{
    <link rel="stylesheet" href="~/css/Posts/details.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = Model.Post.PublicationTitle;
}
<div class="row">
    <div class="col-12 col-lg-2"><a id="backbutton">Back</a></div>
    <div class="col-12 col-lg-10">
        <div class="post-container">
            <h2>@Model.Post.PublicationTitle</h2>
            @if (!string.IsNullOrEmpty(Model.Post.VideoLink) || !string.IsNullOrEmpty(Model.Post.EmbeddedVideoLink) || !string.IsNullOrEmpty(Model.Post.ImageLink))
            {
                <div class="post-image">
                    @if (!string.IsNullOrEmpty(Model.Post.VideoLink))
                    {
                        <video controls>
                            <source src="@Model.Post.VideoLink">
                            Could not load video
                        </video>
                    }
                    else if (!string.IsNullOrEmpty(Model.Post.EmbeddedVideoLink))
                    {
                        <iframe src="@Model.Post.EmbeddedVideoLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    }
                    else if (!string.IsNullOrEmpty(Model.Post.ImageLink))
                    {
                        <img src="@Model.Post.ImageLink" alt="post image">
                    }
                </div>
            }
            @if (Model.Post.HasManyImages)
            {
                <div class="galleryContainer">
                    @for (int i = 0; i < Model.Post.Images.Count; i++)
                    {
                        <div class="gallerySlide">
                            <div class="numbertext">@(i + 1) / @Model.Post.Images.Count</div>
                            <img src="@Model.Post.Images[i]">
                        </div> 
                    }

                    <a class="prev NoLoader" onclick="plusSlides(-1)">❮</a>
                    <a class="next NoLoader" onclick="plusSlides(1)">❯</a>


                    <div class="galleryFooter">
                        @for (int i = 0; i < Model.Post.Images.Count; i++)
                        {
                            <div class="galleryFooter-column">
                                <img class="demo cursor" src="@Model.Post.Images[i]" onclick="currentSlide(@(i+1))">
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="post-info">
                <p>@Model.Post.PublicationText</p>
                <p style="text-align:right">@Model.Post.PostedTime</p>
                <div class="post-meta">
                    <div class="post-author-image">
                        <img src="@Model.Creator.GetProfileImage()" alt="author">
                    </div>
                    <div class="post-author-info">
                        <h3><a asp-controller="posts" asp-action="users" asp-route-id="@Model.Creator.Id">@Model.Creator.FirstName @Model.Creator.LastName</a></h3>
                        <p>@Model.Creator.Bio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/publicationDetails.js"></script>
}