@model PostsGroupViewModel
@section Heads{
    <link rel="stylesheet" href="~/css/Posts/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Posts/user.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = Model.Group.GroupName;
}
<div class="row">
    <div class="posts-sidenav-container col-12 col-lg-2">
        <partial name="_PostsSideNavPartial" />
    </div>
    <div class="col-8">
        <header class="user-header">
            <div class="user-cover-container">
                @if (!string.IsNullOrEmpty(Model.Group.GroupBackground))
                {
                    <img src="@Model.Group.GroupBackground" />
                }
                @if (Model.IsInGroup)
                {
                    <form asp-controller="posts" asp-action="leavegroup" asp-route-groupId="@Model.Group.Id">
                        <i class="fa-solid fa-right-to-bracket" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);"></i><input type="submit" class="btn-danger" value="Leave @Model.Group.GroupName">
                    </form>
                }
                else
                {
                    if (Model.Group.IsPrivate)
                    {
                        if (Model.HasRequestedToJoin)
                        {
                            <form asp-controller="posts" asp-action="canceljoinrequest" asp-route-groupId="@Model.Group.Id">
                                <i class="fa-solid fa-door-closed"></i><input type="submit" class="btn-danger" value="Cancel request to join @Model.Group.GroupName">
                            </form>
                        }
                        else
                        {
                            <form asp-controller="posts" asp-action="addtogroup" asp-route-groupId="@Model.Group.Id">
                                <i class="fa-solid fa-door-open"></i><input type="submit" class="btn-success" value="Request to join @Model.Group.GroupName">
                            </form>
                        }
                    }
                    else
                    {
                        <form asp-controller="posts" asp-action="addtogroup" asp-route-groupId="@Model.Group.Id">
                            <i class="fa-solid fa-right-to-bracket"></i><input type="submit" class="btn-success" value="Join @Model.Group.GroupName">
                        </form>
                    }
                }
            </div>
            <div class="profile-name-container">
                <img src="@Model.Group.GroupPicture" height="160" width="160" />
                <h1>@Model.Group.GroupName</h1>
            </div>
            <div class="user-info-container">
                @if (!string.IsNullOrEmpty(Model.Group.Description))
                {
                    <p>@Model.Group.Description</p>
                }
            </div>
        </header>
        @if (Model.HasAccess)
        {
            @if (Model.Publications.Any())
            {
                <partial name="_PostsListPartial" />
                <partial name="_PostsPageSliderPartial" />
            }
            else
            {
                <div class="no-items-message">No publications in this group yet.</div>
            }
        }
        else
        {
            <div class="private-group-text">You have to join the group to see the publications</div>
        }
    </div>
    <div class="posts-sidenav-container col-12 col-lg-2">
        <partial name="_PostsGroupsSideNavPartial" />
    </div>
</div>
@section Scripts{
    <script src="~/js/posts.js"></script>
}
