@model List<Publication>
<div>
    @foreach(Publication publication in Model)
    {
        if (publication.HasManyImages)
        {
            
        }
        else if (publication.VideoLink != null)
        {
            <video width="320" height="240" controls>
              <source src="@publication.VideoLink" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        }
        else if (publication.EmbeddedVideoLink != null)
        {
            <iframe width="1280" height="720" src="@publication.EmbeddedVideoLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        }
        else
        {
            <img src="@publication.ImageLink" />
        }
        <h3>@publication.CreatorName</h3>
        <p>@publication.PublicationText</p>
        if (publication.OutsideLink!=null)
        {
          <br />
          <a href="@publication.OutsideLink" target="_blank">More...</a>  
        }
    }
</div>