@model IEnumerable<ArtVenue.Models.Group>

@{
    ViewData["Title"] = "Groups";
}


<div class="container">
    <h1>Groups</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPrivate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupPicture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupBackground)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPrivate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupPicture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupBackground)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-info" asp-action="members" asp-route-id="@item.Id">Members</a>
                    @if(item.IsPrivate){
                            <a class="btn btn-outline-secondary" asp-action="requests" asp-route-id="@item.Id">Requests</a>
                    }
                    <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>