@model GroupsIndexViewModel

@{
    ViewData["Title"] = "Your groups";
}


<div class="container">
    <h1>Your groups</h1>
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <div class="row table-heading">
        <div class="col-4">Group name</div>
        <div class="col-2">Public group</div>
        <div class="col-2">Go to</div>
        <div class="col-4">Manage</div>
    </div>
    @foreach (var group in Model.GroupsCreated)
    {
        <div class="row">
            <div class="col-4">
                @group.GroupName
            </div>
            @if (group.IsPrivate)
            {
                <div class="col-2 bg-danger"></div>
            }
            else
            {
                <div class="col-2 bg-success"></div>
            }
            <div class="col-2">
                <a class="btn btn-outline-info" asp-controller="posts" asp-action="group" asp-route-id="@group.Id">Posts</a>
                <a class="btn btn-outline-warning" asp-controller="chat" asp-action="group" asp-route-id="@group.Id">Chat</a>
            </div>
            <div class="col-4">
                <a class="btn btn-outline-warning" asp-action="edit" asp-route-id="@group.Id">Edit</a>
                <a class="btn btn-outline-info" asp-action="members" asp-route-id="@group.Id">Members</a>
                @if (group.IsPrivate)
                {
                    <a class="btn btn-outline-secondary" asp-action="requests" asp-route-id="@group.Id">Requests</a>
                }
                <a class="btn btn-danger" asp-action="delete" asp-route-id="@group.Id">Delete</a>
            </div>
        </div>
    }

    <hr />
    <h1>Groups you have joined</h1>
    <div class="row table-heading">
        <div class="col-4">Group name</div>
        <div class="col-2">Public group</div>
        <div class="col-6">Go to</div>
    </div>
    @foreach (var group in Model.GroupsJoined)
    {
        <div class="row">
            <div class="col-4">
                @group.GroupName
            </div>
            @if (group.IsPrivate)
            {
                <div class="col-2 bg-danger"></div>
            }
            else
            {
                <div class="col-2 bg-success"></div>
            }
            <div class="col-6">
                <a class="btn btn-outline-info" asp-controller="posts" asp-action="group" asp-route-id="@group.Id">Posts</a>
                <a class="btn btn-outline-warning" asp-controller="chat" asp-action="group" asp-route-id="@group.Id">Chat</a>
            </div>
        </div>
    }
</div>